/*FOLHA DE ESTILO PADRONIZADA PARA SMART SC*/

/*Todos os elementos da página*/
*{
    margin: 0.2%;
    padding: 0%;
}

/*Elementos com ID "titulo"*/
#titulo{
    font-family:'Verdana';
    color:#112031;
    margin-left: 10%;
    justify-content: center;
}

/*Elementos com ID "subtitulo"*/
#subtitulo{
    font-family: Verdana;
    color:#152D35;
    margin-left:10%;
}

/*Elementos de tag <body>*/
body{
    background-color: #D4ECDD;
    font-family: Verdana;
    font-size: 1em;
    color: #152D35;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 5%;
    justify-content: center;
}

/*Elementos de tag <form>*/
form{
    
}

/*Elementos de tag <table>*/
table, td, th{
    border: 1px solid black;
    height: 50px
  }

  /*Elementos de tag <td>*/
td{
    border: 1px solid black;
    height: 50px
  }

/*Elementos de tag <th>*/
th{
    border: 1px solid black;
    height: 50px
  }

/*Elementos do tipo submit*/
  input[type=submit]{
    display: block;
    background-color: rgba(204, 204, 204, 0.144);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;